.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  align-items: center;
}

.heading {
  font-size: 3rem;
  text-align: center;
  padding-top: 4rem;
  font-weight: 400;
  background-color: white;
  color: rgb(77, 77, 77);
}
.headerBox {
  display: flex;
  flex-direction: column;
}
.background {
  display: none;
  width: 100vw;
  height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

.text {
  color: rgba(248, 248, 248, 0.644);
  align-self: center;
  font-size: 3.5rem;
  font-weight: 300;
  padding: 0rem 3rem;
  line-height: 3rem;
}

.shopBtn {
  font-size: 2rem;
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (min-width: 480px) {
  .background {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .heading {
    font-size: 3.5rem;
    padding-top: 7rem;
  }

  .text {
    font-size: 4.5rem;
    line-height: 6rem;
  }

  .shopBtn {
    font-size: 3rem;
  }
}
